.label {
	display: inline-block;
	font-weight: 500;
	padding: 2px 5px 1px;
	line-height: 1.5384616;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: .1px;
	border-radius: 2px;
}

.label {
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.label-1 {
	background-color: #f44336;
	color: #fff;
}

.label-2 {
	background-color: #388e3c;
	color: #fff;
}

.label-3 {
	background-color: #4fc3f7;
		color: #fff;
}

.label-4  {
	background-color: #00838f;
	color: #fff;
}






.bg-slate-300 {
	background-color: #90a4ae;
	border-color: #90a4ae;
	color: #fff;
}









.myButton {
margin: .3rem;
}


.fs-24 {
	font-size: 24px !important;
}





.fantaicon-ammonizione::before {
	content: url(../img/gf.png);
}

.fantaicon-espulsione::before {

	content: "\e9a8";
}

.fantaicon-assist::before {
}

.fantaicon-goal-fatto::before {
	content: url(../img/golfatto.png);
}

.fantaicon-goal-subito::before {
	content: url(../img/golsubito.png);
}

.fantaicon-goal-rigore::before {
	content: url(../img/rigoresegnato.png);
}

.fantaicon-rigore-sbagliato::before {
	content: url(../img/rigoresbagliato.png);
}

.fantaicon-t-shirt-out .path4::before {
	content: "\ea56";
	margin-left: -1em;
	color: #000;
}



