.label {
	display: inline-block;
	font-weight: 500;
	padding: 2px 5px 1px;
	line-height: 1.5384616;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: .1px;
	border-radius: 2px;
}

.label {
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.label-1 {
	background-color: #f44336;
	color: #fff;
}

.label-2 {
	background-color: #388e3c;
	color: #fff;
}

.label-3 {
	background-color: #4fc3f7;
	color: #fff;
}

.label-4 {
	background-color: #00838f;
	color: #fff;
}

.bg-slate-300 {
	background-color: #90a4ae;
	border-color: #90a4ae;
	color: #fff;
}

.myButton {
	margin: .3rem;
}

.fs-24 {
	font-size: 34px;
}

.fantaicon-ammonizione::before {
	content: url(../img/icon/ammonizione.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-espulsione::before {
	content: url(../img/icon/espulsione.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-assist::before {
	content: url(../img/icon/assist.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-goal-fatto::before {
	content: url(../img/icon/golfatto.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-goal-subito::before {
	content: url(../img/icon/golsubito.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-goal-rigore::before {
	content: url(../img/icon/rigoresegnato.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-autogol::before {
	content: url(../img/icon/autogol.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-gol-pareggio::before {
	content: url(../img/icon/golpareggio.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-gol-vittoria::before {
	content: url(../img/icon/golvittoria.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-rigore-parato::before {
	content: url(../img/icon/rigoreparato.png);
	margin-left: 0.1em;
	margin-right: 0;
}


.fantaicon-rigore-sbagliato::before {
	content: url(../img/icon/rigoresbagliato.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-uscito::before {
	content: url(../img/icon/uscito.png);
	margin-left: 0.1em;
	margin-right: 0;
}

.fantaicon-entrato::before {
	content: url(../img/icon/entrato.png);
	margin-left: 0.1em;
	margin-right: 0;
}