<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h3>Fanta Bomber</h3>
					<p>&copy; 2017 Fanta Bomber. All rights reserved</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h3>Chi siamo?</h3>
					<p>
						<a href="contatti.jsp#map">Dove trovarci</a><br/>
						<a href="contatti.jsp#contatto">Inviaci una segnalazione</a>
					</p>
                </div>
                 <div class="col-lg-4 text-center">
                    <h3>Contattaci</h3>
					<p>Ritacco Giuseppe<br/>
					<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:giuseppe.ritacco93@gmail.com"> giuseppe.ritacco93@gmail.com</a><br/>
					Bisignano Rosalbino<br/>
					<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:bisignano93@yahoo.it"> bisignano93@yahoo.it</a></p>
                </div>
            </div>
        </div>
    </footer>