

<nav class="navbar navbar-default" role="navigation" id="NavbarHome">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-home">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav-home ">
                <ul class="nav navbar-nav">
                   
                    <li>				
                        <a href="Mercato" onclick="return mercato()">Mercato</a>
                    </li>       
                    
                    <li>
                        <a href="Formazione" onclick="return checkFormazione()">Formazione</a>
                    </li>
                    <li>
                        <a href="Classifica">Classifica</a>
                    </li>
                    <li>
                        <a href="">Voti</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
  	<script src="Script/gestioneFormazione.js"></script>
  <script src="Script/gestioneMercato.js"></script>
    
