<div id="myModal" class="modal">

 <!-- Modal content -->
<div class="modal-content">

  <div class="modal-body">
  <div class=close-container>
    <span class="close">x</span>
  </div>
  <div>
    <form id="formLoginCampionato" class="register-form"
					onsubmit="return loginCampionato(this)" action="GestioneCampionato"
					method="POST">
					<hr>
					<h3 class="intro-text text-center">
						<strong>Gestione Campionato</strong>
					</h3>
					<hr>

					<div class="form-group">
						<h4>Campionato</h4>
						<input type="text" name="Nome" id="Nome"
							class="form-control input-md" placeholder="Campionato" tabindex="1"
							required="required">
					</div>

					<div class="form-group">
					<h4>Password</h4>
						<input type="password" class="form-control input-md" id="Password"
							name="Password" placeholder="Password" tabindex="2"
							required="required">
					</div>


					<hr class="colorgraph">
					<div class="row text-center ">

						
							<input type="submit" id="login" value="Accedi"
								class="btn btn-default btn-lg" tabindex="3">

					</div>
				</form>
				</div>
  </div>

</div> 
	</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed "
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">FantaBomber</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
			<a class="navbar-brand ">FantaBomber</a>

		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">

				<li id="home-btn"><a href="Home">Home</a></li>


			


				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">${Username} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a id="gestioneCampionato" href="#" onclick="">Gestione
								Campionato</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="Inviti">Inviti</a></li>

					</ul></li>




				<li><a class="btn btn-sm btn-info " href="Logout">Log Out</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<script src="Script/modal.js"></script>

