<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
	
	<servlet>
    	<servlet-name>LoginController</servlet-name>
    	<servlet-class>controller.LoginController</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/Login</url-pattern>
  	</servlet-mapping>
  
    <servlet>
    	<servlet-name>RegistrazioneController</servlet-name>
    	<servlet-class>controller.RegistrazioneController</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>RegistrazioneController</servlet-name>
    	<url-pattern>/Registrazione</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>HomeRegistrazioneController</servlet-name>
    	<servlet-class>controller.HomeController</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>HomeController</servlet-name>
    	<url-pattern>/Home</url-pattern>
  	</servlet-mapping>
  	
</web-app>
